version: "3.9"

services:
  backend:
    build: ./server
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    restart: always

  frontend:
    build: ./client
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
